body{
  background-color: #99C999;
  margin:0;
  padding:0;
}
button{
  width:100px;
  height:25px;
  position:relative;

}

header{
  background-color: #8ECED1;
  margin:auto;
  font-family:Times;
  text-align: center;
  padding:15px;
}

header p{
  font-family:cursive;
  font-size:16px;
}

strong{
  font-weight: bold;
  font-size:25px;
}

#questionOne{
  padding:75px;
}

#questionTwo{
  padding:75px;
}

#questionThree{
  padding:75px;
}

#questionFour{
  padding:75px;
}

#questionFive{
  padding:75px;
}

#questionSix{
  padding:75px;
}
